fastapi
uvicorn
pydantic
langchain-community
huggingface-hub
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pandas
beautifulsoup4
python-multipart
supabase
sqlalchemy
chromadb
pgvector
chardet
-e .
